<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/pro.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/project"><img src="image/logo.png" class="logo"> </a>
          <div>

            <div class="dropdown0">
              <button class="btn btn-secondary " type="" data-bs-toggle="dropdown" aria-expanded="false">
                VEHICLES
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/vh">Choose</a></li>
               
              </ul>
            </div>
          </div>
          <div>

            <div class="dropdown1">
              <button class="btn btn-secondary " type="" data-bs-toggle="dropdown" aria-expanded="false">
                SHOOPING TOOLS
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
               
              </ul>
            </div>
          </div>
          <div>

            <div class="dropdown">
              <button class="btn btn-secondary " type="" data-bs-toggle="dropdown" aria-expanded="false">
            OWNERSHIP
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/table">About</a></li>
                
              </ul>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logo">CERTIFIED PRE-OWNED</a>
              </li>
              <div class="l1">
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="/image/pin.png" class="logo2"> Retailer</a>
              </li></div>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/table" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/image/user (1).png" class="user" > My Lincoln
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/add">ADD</a></li>
                 
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">EN</button>
            </form>
          </div>
        </div>
      </nav>
      <%- include('pages/nav') %>
      <h3 class="dis">DISCLOSURES</h3>
      <div class="o1">
        <table cellpadding="20">
            <tr><th>ABOUT</th>
                <th>EXPERIENCE LINCOLN</th>
                
                <th>ALL VEHICLES</th>
                <th>SHOP</th>
                <th>FINANCING</th>
                <th>OWNERSHIP</th>
                <th>THE LINCOLN EXPERIENCE</th>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td>NAVIGATOR</td>
                <td>BUILD & PRICE</td>
                <td>FINANCE OPTIONS</td>
                <td>OWNERS</td>
                <td>LINCOLN PICKUP & DELIVERY</td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td>AVIATOR</td>
                <td>SEARCH INVENTORY</td>
                <td>PAYMENT CALCULATOR</td>
                <td>LINCOLIN WAY APP</td>
                <td>LINCOLN BLACK LABEL</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>NAUTILUS</td>
                <td>GET A QUOTE</td>
                <td>CLIENT SUPPORT</td>
                <td>SERVICE</td>
                <td>INSURENCE</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>CORSAIR</td>
                <td>SPECIAL OFFERS</td>
                <td>APPLY ONLINE</td>
                <td>HOW TO VIDEOS</td>
                <td>DRIVER ASSIST TECHNOLOGY</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>BLACK LABEL</td>
                <td>CUSTOM ORDER</td>
                <td>LINCOLN AFS ACCOUNT</td>
                <td>LINCOLN PROTECT EXT SVC PLANS</td>
                <td>LINCOLN BLUECRIUSE</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>ALL LUXURY SUVS</td>
                <td>TRADE-IN VALUE</td>
                <td></td>
                <td>ASSOSORIES STORE</td>
                <td>LINCOLN ACCESS REWARD</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>CERTIFIED PRE OWNED</td>
                <td>GET UPDATES</td>
                <td></td>
                <td>MAKE A PAYMENT</td>
                <td>TRAVEL BENEFITS</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PHEV VEHICLES</td>
                <td>MERCHANDISE & APPAREL</td>
                <td></td>
                <td>SAFTY RECALLS</td>
                <td>CONCIERGE</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>CONCEPTS & FUTURE VEHICLES</td>
                <td>FLEET</td>
                <td></td>
                <td>SYNC</td>
                <td>THE LINCOLN LEGACY</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ROADSIDE ASSISTANCE</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>SIRIUSXM</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AIRBAG RECALLS</td>
                <td></td>
            </tr>
        </table>
      </div>
      </body>
      </html>